<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}} by {{autor}}!!
    <app-my-component></app-my-component>

    <button (click)="count = count + 1">Click me</button>
    <div class="row">
      count {{count}}

    </div>

    <div class="row">
      <img [src]="imageSource" alt="">

    </div>
    <div class="row">
      <input [disabled]= "!disable" >
      <button (click)="disable = !disable ">Disable input</button>
    </div>
  </h1>
</div>